/* styles.css */

body, html{
    height: 100%;
    background: #222222;
    font-family: 'Lato', sans-serif;
  }

.alert {
    background-color: aquamarine;
    margin: 0px;
    font-size: 24px;
    padding: 20px;
    height: 150px;
}

.container {
    display: block;
    background-color: #222222;
    color: white;
    margin: 0px;
    padding: 20px;
    text-align: center;
    height: 200px;
}

.check {
    display: block;
    height: 10px;
    background-color: blue;
}

.inside {
    background-color: red;
}

.signature {
    background-color: #222222;
    color: white;
    margin: 0px;
    text-align: center;
}